<% provide(:title, "Help") %>

<h1>ALGUIEN AYÚDEME</h1>
<p>
  Obtener ayuda en el Ruby on Rails en el Tutorial
  <a  href= "http://www.railstutorial.org/help"> Rieles Tutorial página de ayuda </a> .
  Para obtener ayuda en esta aplicación de ejemplo, véase el
  <a  href= "http://www.railstutorial.org/book"> <em> Ruby on Rails Tutorial </ em> 
  libro </a> .
</p>

